.receps {
  background-image: url(../../assets/image/cup.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.proper22 {
  width: 100%;
}

.grid1 {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  height: 90vh;
  align-items: center;
  text-align: center;
}
